IMAGE_NAME=ublue-server
REPO_ORGANIZATION=heilerich

IMAGE_DESC="Basic server image"
IMAGE_KEYWORDS="bootc,oci,linux,fedora"

DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
